$primary-color: #39CDCC;
$primary-text-color: #545F7D;
$header-text-color: #213F7D;
$page-background: #E5E5E5;
$pending: #E9B200;
$active: #39CD62;
$danger: #E4033B;
$white: #FFFFFF;
$input-outline: rgba(84, 95, 125, 0.15);