@import "./colors";

.users-container {
    padding-top: 60px;
    .page-header {
        font-size: 24px;
        font-weight: 500;
        color: $header-text-color;
    }
    .stats {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 25px;
        margin-top: 40px;
    }
    .stat {
        background: #FFFFFF;
        border: 1px solid rgba(33, 63, 125, 0.06);
        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
        border-radius: 4px;
        padding: 20px 30px;
    }
    .stat-title {
        font-size: 14px;
        font-weight: 500;
        color: $primary-text-color;
        margin-top: 14px;
        text-transform: uppercase;
    }
    .stat-number {
        font-size: 24px;
        font-weight: 600;
        color: $header-text-color;
        margin-top: 12px;
    }
    
    

    .loading {
        height: 150px;
        background-color: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
        border-radius: 4px;
        margin-top: 40px;
    }
}


@media (max-width: 1250px) {
    .users-container {
        padding-top: 20px;
        .stats {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.MuiPagination-ul {
    flex-wrap: nowrap !important;
}
@media (max-width: 576px) {
    .users-container {
        .stats {
            grid-template-columns: 1fr;
        }
    }

}