@import "./colors";

.users-table {
    margin-top: 40px;
    padding: 30px;
    padding-bottom: 0;
    background: $white;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(7, auto);
    min-width: 80%;
    // min-height: 200px;
    overflow-x: auto;
    margin-bottom: 20px;
    .cell:not(.first) {
        padding-left: 10px;
    }
    .cell:not(.last) {
        padding-right: 10px;
    }
    .cell.last {
        padding-left: 20px;
    }
    .cell:not(.header) {
        border-bottom: 1px solid rgba(33, 63, 125, 0.1);
        height: 60px;
        display: flex;
        align-items: center;
    }
    .header.cell {
        display: flex;
        padding-bottom: 20px;
        align-items: center;
        gap: 10px;
        color: $primary-text-color;
    }
    .cell.bottom-cell {
        border-bottom: none;
    }
    .phone {
        min-width: 150px;
    }
    .date-joined {
        min-width: 130px;
    }
    .header-column-text {
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
    }
    .cell-text {
        font-size: 14px;
        font-weight: 400;
        color: $primary-text-color;
        &.email {
            text-transform: lowercase;
        }
        &.status {
            padding: 7px 13px;
            border-radius: 100px;
        }
        &.inactive {
            color: $primary-text-color;
            background-color: rgba($color: $primary-text-color, $alpha: 0.08);
        }
        &.active {
            color: $active;
            background-color: rgba($color: $active, $alpha: 0.08);
        }
    } 
}

.user-menu-item {
    display: flex;
    column-gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
    p {
        font-size: 14px;
        font-weight: 500;
        color: $primary-text-color;
    }
}
#filter {
    border: 1px solid rgba(84, 95, 125, 0.14);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    .filter-form {
        min-width: 250px;
        padding: 30px 20px;
        .field {
            display: flex;
            row-gap: 6px;
            flex-direction: column;
            label {
                font-size: 14px;
                font-weight: 500;
                color: $primary-text-color;
            }
        }
        .field:not(:last-child) {
            margin-bottom: 20px;
        }
        .custom-select, input, .date-label {
            align-items: center;
            width: 100%;
            outline: none;
            border: 1px solid $input-outline;
            color: $primary-text-color;
            border-radius: 8px;
            padding-left: 20px;
            height: 40px;
        }
        .date-label {
            display: flex;
            align-items: center;
        }
        .buttons {
            display: flex;
            gap: 10px;
            justify-content: space-between;
            align-items: center;
            .btn {
                flex: 1;
                height: 40px;
                border-radius: 8px;
                border: 1px solid $primary-text-color;
                font-size: 14px;
                font-weight: 600;
            }
            .filter-btn {
                border-color: $primary-color;
                color: $white;
                background-color: $primary-color;
            }
            .reset-btn {
                color: $primary-text-color;
                background-color: $white;
            }
        }
    }
}

@media (max-width: 576px) {
    .users-table {
        padding: 15px;
        padding-top: 30px;
    }
}